body {
    background-image: url("assets/backgroundlaranja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */

}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    display: block;
    text-align: center;
    justify-content: center;
}

#titulo {
    margin: 0;
    font-size: 60px;
    font-family: 'Ink Free', sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 1000;
    color: rgb(170, 127, 47);
    text-align: center;
}

#foto {
    width: 250px;
    height: 330px;
}
a {
    text-decoration: none; /*tirar o underline e a cor azul de hiperlagação*/
    color: inherit; 
    font-weight: 400;
    font-optical-sizing: auto;
    height: auto;
}
ul.link{
    padding-top: 0px;
}
ul {
    text-decoration: none;
    font-size: 40px;
    font-family: Ink Free;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    margin: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

ul li a{
    display: block;
    padding : 36px 66px;
    transition: all 0.2s ease;
}

ul li a:hover{
    color: rgb(215, 161, 73);
    border-radius: 10px;
    transform: scale(1.1);
}

#about{
    background-image: url("assets/Bolhas3.png");
    background-position: center;
}

#portfolio{
    background-image: url("assets/Bolhas2.png");
    background-position: center;
}

#acomplishments{
    background-image: url("assets/Bolhas\ Laranja.png");
    background-position: center;
   
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Stack the social icons horizontally */
    height: 150px;
}

.socials a {
    margin: 20px;
}
.socials a:hover{
    color: rgb(222, 67, 77);
    border-radius: 10px;
}

#about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
